.contacto__caja__formulario__mensaje {
  width: 560px;
  height: 82px;
  margin-bottom: 0.5rem;
  padding: 1rem 0.75rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #464646;
}

.contacto__caja__formulario__mensaje::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #a2a2a2;
}
