.galeria__categoria__contenido__producto__boton {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #2a7ae4;
  background-color: transparent;
  border: none;
  padding: 0;
}
