.menu__buscar__input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 20px;
  width: 393px;
  height: 40px;
  padding: 0 1rem;
  color: #a2a2a2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

.menu__buscar__input::placeholder {
  color: #a2a2a2;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

@media screen and (max-width: 768px) {
  .menu__buscar__input {
    max-width: 272px;
  }
}
